/* footer */
#footer {
    background-color: #809e9e;
    height: 200px;
    display: flex;
    box-shadow: 2px 0px 4px;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    font-weight: 700;
    color: black;
}

.footitem{
    padding-top: 10px;
}

.footlien{
    color: black;
    padding-left: 20px;
}