body{
    background-color: #fffde889;
}

.div-eye{
    display: flex;
    justify-content: right;
    widows: 10px;
    height: 30px;
    position: relative;
    bottom: 33px;
    float: right;
    margin-right: 4px;
}
